.book-list {
  display: flex;
  flex-direction: column;
  margin: 0;
}

.book-list__container {
  display: grid;
  justify-content: center;
  grid-template-columns: repeat(auto-fill, minmax(auto, 218px));
  max-width: 1140px;
  margin: 30px auto 0;
  padding: 0;
  row-gap: 32px;
  column-gap: 35px;
  box-sizing: border-box;
  list-style: none;
}